@charset "UTF-8";
/* CSS Document */

main{
	padding-top: 2%; 
	padding-bottom: 2%;
	background-color: gainsboro;
}

.Main1{
	margin-left: 10%;
	margin-right: 10%;
	
}

.Main2{
	margin-right: 10%;
	margin-left: 10%;
}

.m1{
	width: 70%;
}

.m2{
	width: 30%;
	padding-left: 3%;
	font-size: 15pt;
	
}

.P{
	margin-top: -50%;
}

.m3{
	padding-right: 3%;
	width: 30%;
	font-size: 15pt;
}

.m4{
	width: 70%;
}

.main_pic2{
	margin-top: -30%;
}

.intro{
	margin-top: 10%;
	margin-left: 10%;
	margin-right: 10%;
}

.P1{
	padding-right: 10%;
	
}

.P2{
	padding-left: 10%;
}






